/* 
*  全局公共常用工具样式
*/
// color 颜色从深到浅
$colorR1: #ff4640;
$colorR2: #ee3d37;

$colorP1: #ef3664;
$colorP2: #fb658a;

$colorG1: #333333;
$colorG2: #6c6c6c;
$colorG3: #999999;
$colorG4: #9c9c9c;
$colorG5: #ebebeb;

$colorBorder: #e5e5e5;

$colorBG0: #ffffff;
$colorBG1: #f5f5f5;
$colorBG2: #fafafa;
$color0066C0: #0066c0;

//colors
$color_ff: #ffffff;
$color_e5: #e5e5e5;
$color_f5: #f5f5f5;
$color_eb: #ebebeb;
$color_fa: #fafafa;
$color_6c: #6c6c6c;
$color_9c: #9c9c9c;
$color_pink: #fb658a;
$color_pink_dark: #ef3664;

/* 左右居中 */
@mixin horizontal-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* 右浮动 */
@mixin pull-right {
  float: right !important;
}

/* 左浮动 */
@mixin pull-left {
  float: left !important;
}

/* 文本居右 */
@mixin text-right {
  text-align: right !important;
}

/* 文本居左 */
@mixin text-left {
  text-align: left !important;
}

/* 文本居中 */
@mixin text-center {
  text-align: center !important;
}

/* 隐藏 */
@mixin hide {
  display: none !important;
}

/* 显示 */
@mixin show {
  display: block !important;
}

/* 隐藏 */
@mixin invisible {
  visibility: hidden;
}

/* 清楚浮动 */
@mixin clearfix() {

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.clearfix::after,
.clearfix::before {
  content: " ";
  display: block;
}

.clearfix::after {
  clear: both;
}


@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

/* 行高 */
@mixin line-height($heightValue: 12) {
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (.125 * $heightValue) + rem;
}


/* Retina 背景图片 */

/* @include imgRetina(images/waterlily, jpg, 200px, 200px, no-repeat, center); */
@mixin imgRetina($image, $extension, $width, $height, $position: center, $repeat: no-repeat) {
  background: url($image + '.' + $extension) $repeat $position;

  @media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-moz-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background: url($image + '@2x' + '.' + $extension) $repeat $position;
    background-size: $width $height;
  }
}

/* 字体大小 */
@mixin font-size($size) {
  font-size: $size;
  font-size: calculaterem($size);
}

/* 超出一行文本省略 */
@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 多行超出文本省略 */
@mixin text-ellipsis-more($num) {
  display: box;
  -webkit-bbox-orient: vertical;
  -webkit-line-clamp: $num;
  -moz-line-clamp: $num !important;
  overflow: hidden;
}

/* 圆角 */
@mixin border-radius($radius...) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

/* 设置阴影 */
@mixin shadow($shadow...) {
  box-shadow: $shadow;
}

/* 绝对居中 */
@mixin center($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: (-$height / 2) 0 0 (-$width / 2);
  width: $width;
  height: $height;
}

/* 垂直居中 */
@mixin vertical-center() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* 最小高度，IE6不支持min-height，但是使用height能达到一样的效果 */
@mixin minHeight($min-height) {
  height: auto !important;
  height: $min-height;
  min-height: $min-height;
}

/* display:inline-block;IE6,7块级元素对inline-block支持不好，需要触发Layout；内联元素就不需要了。 */
@mixin dib() {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* flex布局 */
@mixin flex-box {
  display: box;
  display: flex;
  display: -ms-flex;
}

@mixin flex-1($percent) {
  width: $percent;
  flex: 1;
}


@mixin justify-content {
  justify-content: space-between;
}

/* 关于动画 */
@mixin transition($property:all, $duration:.5s, $timing:ease) {
  transition: $property $duration $timing;
}

@mixin transform-origin($origin) {
  transform-origin: $origin;
}

@mixin scale($scale) {
  transform: scale($scale);
}

@mixin animation ($name, $duration:.2s, $timing:ease-in, $delay:0s , $count:1) {
  animation: $name $duration $timing $delay $count;
  animation: $name $duration $timing $delay  $count;
  animation: $name $duration $timing $delay  $count;
  animation: $name $duration $timing $delay  $count;
}

/* 透明度 */
@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100); //兼容IE
}


/* 使用纯CSS现实三角形，兼容所有浏览器；使用了三个参数，第一个是"方向"，第二个是"大小"，第三个是"颜色"，省得每次都写一大堆代码，非常方便啦； */
@mixin arrow($direction,
  $size,
  $color) {
  overflow: hidden;
  border-width: $size;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  cursor: pointer;

  @if $direction==top {
    border-style: dashed dashed solid;
    border-color: transparent transparent $color transparent;
    border-top: none;
  }

  @else if $direction==bottom {
    border-style: solid dashed dashed;
    border-color: $color transparent transparent transparent;
    border-bottom: none;
  }

  @else if $direction==right {
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent $color;
    border-right: none;
  }

  @else if $direction==left {
    border-style: dashed solid dashed dashed;
    border-color: transparent $color transparent transparent;
    border-left: none;
  }
}

// 不变宽高比
@mixin constant-width-to-height {
  &::before {
    float: left;
    padding-top: 100%;
    content: '';
  }

  @include clearfix;
}

// 使子元素均匀分布
@mixin evenly-distributed-children {
  display: flex;
  justify-content: space-between;
}

// 使用 flexbox 垂直居中
@mixin flexbox-vertical-centering {
  display: flex;
  align-items: center;
}

// 使用 flexbox 居中
@mixin flexbox-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 使用网格居中
@mixin grid-centering {
  display: grid;
  justify-content: center;
  align-items: center;
}

//  使用transform居中子元素
@mixin transform-centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 设置背景图（1倍图2倍图自适应）
@mixin image-set($bg, $bg2x) {
  background: url($bg);
  background-image: image-set(url($bg) + '1x', url($bg2x) + '2x');
  background-image: -moz-image-set(url($bg) + '1x', url($bg2x) + '2x');
  background-image: -ms-image-set(url($bg) + '1x', url($bg2x) + '2x');
  background-image: -o-image-set(url($bg) + '1x', url($bg2x) + '2x');
}
